.whiteboard{ background: white; width:100%;  height:100%; }
.whiteboardmain{  width:100%; height:500px;  }
.webcam{ width: 100%; height:200px; background:black;}
.roomchat{ width: 100%; margin-top:10px; background:rgb(235, 235, 235); border:1px solid gray; border-radius: 5px;}
.roomchat .heading{font-weight: 700; text-align: center;  }
.camerabutton{position: absolute;
    top: -37px;
    left: 13px;
}



  
  .color {
    display: inline-block;
    height: 48px;
    width: 48px;
  }
  
  .color.black { background-color: black; }
  .color.red { background-color: red; }
  .color.green { background-color: green; }
  .color.blue { background-color: blue; }
  .color.yellow { background-color: yellow; }
  .color.white {   border-radius: 10px; border:1px solid black; box-shadow: 2px 2px 2px gray; margin-left: 20px; position: absolute;
    background-image: url('/assets/images/eraser.png');
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
  }
  /* .color.white::after {content:'Eraser';
    left: 6px;
    top: 25%;
    
    position: relative;
    font-size: 13px;
  } */
 .rightSide-color{float:right;}
 .imageuploaded{float:right;
  background-repeat: no-repeat;
  border-radius: 0.3rem;
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-image: url(/assets/images/imageupload.png);
  background-size: contain;
}

.leftslider{float:right;
  background-repeat: no-repeat;
  border-radius: 0.3rem;
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-image: url(/assets/images/right.png);
  background-size: contain;
}

.rightslider{float:right;
  background-repeat: no-repeat;
  border-radius: 0.3rem;
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-image: url(/assets/images/left.png);
  background-size: contain;
}
.chat-header{
    background-color:var(--primary-color);
    width: 100%;
    font-size:15px;
    padding:5px;
    border-radius: 5px 5px 0px 0px;
    color:white;
    font-weight: 500;
}
.imageuploaded input, .fileupload input{width:inherit;}
.fileupload{
  display: inline-block;
 
  color: white;
  border-radius: 0.3rem;
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  background-image: url(/assets/images/pdfupload.png);
  background-size: contain;
}
.uploadfile{opacity: 0; margin-top:2px;}

.chat-body{
    background-color: rgb(252, 252, 252);
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    color:black;
    height: 300px;
    /* overflow-y: auto; */
}

.incoming_message{background-color: rgb(239, 237, 250); padding:5px; margin:10px;}
.outgoing_message{background-color: rgb(240, 245, 239); padding:5px; margin:10px;}
.incoming_message h4, .outgoing_message h4{ font-weight: 700;}
.chat-footer{
   background-color: white;
    width: 100%;
    color:white;
}
.form-row{border: 1px solid rgb(197, 194, 194);}
.commenttype{width: 100%; border: 0px solid gray; border-radius: 1px; padding: 7px 8px;  }
.commentsend{width: 100%; border: 0px solid gray; background:var(--primary-color); color:white; border-radius: 1px; padding: 7px 8px;      }
.chatleft{padding:0px}
.chatfooter{border: 1px solid darkseagreen;}
.audioselect{padding: 0px 14px;}
.classover{padding: 12em;}
.imagehide{display:none;}
.recordingbox{background: red;
  color: white;
  display: inline-block;
  padding: 3px;
  box-shadow: 2px 2px 2px grey;
}
.progressbarnew{
  width: 48px;
    margin-top: 17px;
}
progress::-webkit-progress-value { background: red; }
.custom-select, .custom-file, .css-b62m3t-container, input[type=number]{
  margin-bottom: 1rem;
}
textarea{resize: none;}
.custom-file-label, .custom-file-input{
  z-index:0!important;
}
.redcolor{color:red;}
.question-option{    display: flex;}

.question-option input{margin-top: 12px;}
.question-option .question-alpha{    margin-top: 5px;
  margin-left: 5px;}
  .input-wrapss{padding:0px;}


  .mcqpoll{
    display: inline-block;
   
    color: white;
    border-radius: 0.3rem;
    cursor: pointer;
    height: 50px;
    width: 50px;
   
  }

  /* .header5, .menu, 
  .footerlink, .footer1{display:none;} */
 .margintopminus{margin-top: -41px;}

 .mcqpoll svg{font-size: 8vh; color: var(--primary-color)}
 .mcqpoll2{color:black;}
 .showmodel{display: block;}
 video::-webkit-media-controls-fullscreen-button {
  display: none;
}

.recordedvideo{width:100%; min-height: 80%;}

.errorfullsize{
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #d7e0f0;
  background-image: url(/assets/images/bg_image.png);
    box-shadow: 0 1px 25px #ccc;
}